 /* Responsiveness */
 .nodeTypes button.active {
     transition: 0.4s;
     -webkit-transform: scale(1.02);
     -moz-transform: scale(1.02);
     -ms-transform: scale(1.02);
     -o-transform: scale(1.02);
     transform: scale(1.02);
 }

 button.active {
     transition: 0.4s;
     -webkit-transform: scale(0.98);
     -moz-transform: scale(0.98);
     -ms-transform: scale(0.98);
     -o-transform: scale(0.98);
     transform: scale(0.98);
 }

 input:focus {
     transition: 0.4s;
     -webkit-transform: scale(0.98);
     -moz-transform: scale(0.98);
     -ms-transform: scale(0.98);
     -o-transform: scale(0.98);
     transform: scale(0.98);
 }